@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --DarkCyan: hsl(185, 75%, 39%);
  --VeryDarkDesaturatedBlue: hsl(229, 23%, 23%);
  --DarkGrayishBlue: hsl(227, 10%, 46%);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--DarkCyan);
  font-family: "Kumbh Sans", sans-serif;
  position: relative;
  background-image: url("./images/bg-pattern-top.svg"),
    url("./images/bg-pattern-bottom.svg");
  background-repeat: no-repeat;
  background-position: left -10em top -20em, right -10em bottom -20em;
  background-size: contain;
  overflow: hidden;
  height: 100vh;
}
main {
  width: 325px;
  background: white;
  margin: auto;
  border-radius: 15px;
  border-color: var(--DarkGrayishBlue);
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.25);
}

h1 {
  padding-top: 50px;
  font-size: 1.2em;
}

h4 {
  margin-top: 20px;
  margin-bottom: 5px;
}
header {
  background-image: url("./images/bg-pattern-card.svg");
  background-size: cover;
  height: 130px;
  margin-bottom: 30px;
  position: relative;
}

.avatar {
  height: 100px;
  width: 100px;
  display: inline-block;
  position: absolute;
  transform: translate(-45px);
  background-image: url("./images/image-victor.jpg");
  background-size: cover;
  border: solid white 5px;
  border-radius: 50%;
  bottom: -50px;
}

small {
  font-size: 13px;
}

small,
span {
  color: var(--DarkGrayishBlue);
}

.stats,
h1 {
  font-size: 18px;
}
footer {
  margin: 25px 0px;
  border-top: 1px solid hsl(0, 0%, 59%);
  display: flex;
  justify-content: space-evenly;
}

.attribution {
  padding-bottom: 10px;
}

@media screen and (max-width: 768px) {
  body {
    background-position: left -20em top -10em, right -15em bottom -18em;
  }
}
@media screen and (max-width: 450px) {
  body {
    background-position: left -10em top -5em, right -10em bottom -5em;
  }
}
